body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

#heading {
    color: white;
    text-align: center;
    margin-top: 10rem;
}

#text {
    background-color: white;  
    text-align: center;
}
